<h1>Forms Grouping in Reactive Forms </h1>

<form  [formGroup]="profileForm" (ngSubmit)="submitData()">
  <input type="text" placeholder="enter name" formControlName="name">
  <span *ngIf="name?.hasError('required')">Name is required</span>
  <span *ngIf="name?.invalid && (name?.dirty || name?.touched)">Please, Enter User Name</span>
  <br><br>
  <input type="text" placeholder="enter password" formControlName="password">
  <span *ngIf="name?.hasError('required')">Password is Required</span>
  <span class="error" *ngIf="password?.invalid && (password?.dirty || password?.touched)">Please, Enter Password</span>
  <br><br>
  <input type="text" placeholder="enter email" formControlName="email">
  <span *ngIf="email?.hasError('required')">Email is required</span>
  <span class="error" *ngIf="email?.invalid && (email?.dirty || email?.touched)">Please, Enter Email</span>
  <br><br>
  <button>Submit</button>
  <!-- <button type="button" (click)="setValue()">Set</button> -->
</form>